
nav {
    width: 100%;
    height: 50px;
   background-image: url(../assets/kongos-image.jpg);
   background-size: cover;
}



header {
    width: 100%;
    height: 840px;
    background-image: url(..//assets/kongos-image.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.arrow-con{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 40px;
}

.logo{
    width: 200px;
    float: left;
    color: white;
    margin-left: 50px;
    margin-bottom: 90px;
}

.nav-con ul{
    list-style: none;
}

.nav-con{
    width: 800px;
    height: 50px;
    margin-top: 5px;
    color: white;
    float: right;
}

.nav-con li{
    width: 200px;
    height: 50px;
    float: left;
}

.name{
    font-size: 90px;
}

.headerbtns{
    width: 800px;
    height: 70px;
    margin-top: 70px;
}

.btns{
    width: 225px;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 30px;
}

.normal{
    background-color: #2b2b2b;
    color: white;
}

.normal:hover{
    cursor: pointer;
    background-color: white;
    color: #2b2b2b;
    border: 2px solid #2b2b2b;
    padding-top: 10px !important;
}

.inverted{
    border: 2px solid #2b2b2b;
    padding-top: 10px !important;
}

.inverted:hover{
    cursor: pointer;
   background-color: #2b2b2b;
   color: white;
}

.like{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: right;
    margin-left: -250px;
}

.heart{
    border: 2px solid #2b2b2b;
    background-image: url("../assets/heart_icon.svg");
    background-size: cover;
    background-position: center;
}

.heart:hover{
    cursor: pointer;
    background-color: #2b2b2b;
}

.box-right{
    width: 490px;
    height: 390px;
    background-color: #2b2b2b;
    margin-top: -60px;
    
}

.box-left{
    width: 560px;
    height: 560px;
    background-color: lightgrey;
    margin-top: -60px;
    margin-left: -80px;
    padding-top: 50px;
    padding-left: 80px;
}

.kongosinf{
    width: 380px;
}

.col-box{
    width: 277px;
    height: 277px;
    background-color: lightgray;
    text-align: center;
    padding-top: 140px;
    margin-top: 40px;
}

.oppie{
    margin-bottom: 80px !important;
}

.tex{
    width: 300px;
    height: 80;
    margin-top: 110px;
}

.bot{
    margin-bottom: 60px;
}

footer{
    width: 100%;
    height: 90px;

}

.bottemlogo{
    width: 400px;
    height: 80px;
    margin-left: 122px;
    float: left;
    font-weight: bold;
}

.round-logo{
    width: 50px;
    height: 50px;
    border: 2px solid #2b2b2b;
    border-radius: 50%;
}

.tecks{
    width: 600px;
    height: 675px;
    background-color: grey;
}

.bks{
    width: 600px;
    height: 675px;
}

form{
    width: 100%;
    height: 675px;
    background-color: lightgray;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 40px;
}

.input-elm{
    width: 90%;
    height: 35px;
    border-radius: 25px;
    padding-left: 15px;
    margin-top: 15px;
    border: none;
    background-color: #2b2b2b;
    color: white;

}

select, button{
    width: 95% !important;


}

.dox-group{
    width: 400px;
    height: 50px;
}

.dox{
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.abouthead{
    width: 100%;
    height: 175px;
}

.playlisthead{
    width: 100%;
    height: 85px;
}

.mix{
    
}