
html, body{
    background-color: #202833;
}




nav {
    width: 100%;
    height: 10px;
   background-image: url('../assets/kongos-image.jpg');
   background-size: cover;
}



header {
    width: 100%;
    height: 840px;
    background-image: url('..//assets/kongos-image.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 250px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.arrow-con{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 50px;
}

.logo{
    width: 200px;
    height: 60px;
    background-image: url('../assets/stream_logo_white.png');
    background-position: center;
    background-size: cover;
    float: left;
    color: white;
    margin-left: 50px;
    margin-bottom: 90px;
}

.nav-con ul{
    list-style: none;
}

.nav-con{
    width: 800px;
    height: 50px;
    margin-top: 5px;
    color: white;
    float: right;
}

.nav-con li{
    width: 200px;
    height: 50px;
    float: left;
}

.name{
    font-size: 70px;
}

.headerbtns{
    width: 800px;
    height: 70px;
    margin-top: 70px;
}

.btns{
    width: 225px;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 30px;
}

.normal{
    background-color: #2b2b2b;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.normal:hover{
    cursor: pointer;
    background-color: white;
    color: #2b2b2b;
    border: 2px solid #2b2b2b;
    padding-top: 10px !important;
}

.inverted{
    border: 2px solid #2b2b2b;
    padding-top: 10px !important;
    font-family: 'Montserrat', sans-serif;
}

.inverted:hover{
    cursor: pointer;
   background-color: #2b2b2b;
   color: white;
}

.like{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: right;
    margin-left: -250px;
}

.heart{
    border: 2px solid #2b2b2b;
    background-image: url("../assets/heart_icon.svg");
    background-size: cover;
    background-position: center;
}

.heart:hover{
    cursor: pointer;
    background-color: #2b2b2b;
}

.box-left{
    width: 490px;
    height: 390px;
    background-color: #2b2b2b;
    margin-top: -60px;
    
}

.box-right{
    width: 560px;
    height: 560px;
    background-color: #0b0c10;
    color: white;
    margin-top: -60px;
    margin-left: -80px;
    padding-top: 50px;
    padding-left: 80px;
}

.arrow-left{
    width: 40px;
    height: 40px;
    background-image: url('../assets/left_arrow_icon.svg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 235px;
    margin-left: 320px;
    cursor: pointer;
    float: left;
}

.arrow-right{
    width: 40px;
    height: 40px;
    background-image: url('../assets/right_arrow_icon.svg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 235px;
    margin-right: 60px;
    cursor: pointer;
    float: right;
}

.arrow-left:hover{
    background-color: crimson;
}

.arrow-right:hover{
    background-color: crimson;
}

.kongosinf{
    width: 380px;
}

.col-box{
    width: 277px;
    height: 277px;
    padding-top: 100px;
    margin-top: 40px;
}

.overlay{
    width: 277px;
    height: 277px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 80px;
    margin-top: -100px;
    opacity: 0;
}

.overlay:hover{
    cursor: pointer;
    opacity: 1;
}

.icon{
    width: 60px;
    height: 60px;
    background-image: url('../assets/black_play_media_icon.svg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.content{
    width: 225px;
    height: 51px;
    background-color: crimson;
    margin-top: 50px;
    color: white;
    font-family: sans-serif;
    padding-top: 9px;
    padding-left: 25px;


}

.content h3, p{
    margin: 0;
}

.heartico{
    width: 40px;
    height: 40px;
    background-image: url('../assets/heart_icon.svg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -5px;
    margin-right: -4px;
}

.oppie{
    margin-bottom: 80px !important;
}

.tex{
    width: 300px;
    height: 80;
    margin-top: 110px;
    color: crimson;
}

.bot{
    margin-bottom: 60px;
}

footer{
    width: 100%;
    height: 90px;
    margin-top: 200px;

}

.bottemlogo{
    width: 400px;
    height: 80px;
    margin-left: 50px;
    float: left;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px
}

.round-logo{
    width: 50px;
    height: 50px;
    border: 2px solid crimson;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.tecks{
    width: 500px;
    height: 675px;
    margin-left: -30px;
    padding-top: -100px;
    color: white;
}

.bks{
    width: 600px;
    height: 720px;
    padding-top: 40px;
}

form{
    width: 100%;
    height: 675px;
    background-color: lightgray;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 40px;
}
.imput-elm{
    background-color: #2b2b2b;
    color: white;
    border-radius: 25px;
    float: right;
    margin-top: -50px;
}

.input-elm{
    width: 90%;
    height: 35px;
    border-radius: 25px;
    padding-left: 15px;
    margin-top: 15px;
    border: none;
    background-color: #2b2b2b;
    color: white;

}

.play{
    background-color: crimson;
    color: white;
}

.play:hover{
    background-color: #2b2b2b;
    color: white;
}

select, button{
    width: 95% !important;


}

.dox{
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.abouthead{
    width: 100%;
    height: 175px;
}

.playlisthead{
    width: 100%;
    height: 900px;
    background-color: #202833;
}

.mix{
    width: 550px;
    height: 550px;
    background-image: url('../assets/Acdc_Highway_to_Hell.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 150px;
}

.dox-group{
    width: 550px;
    height: 550px;
    background-color: #0b0c10;
}

.myplay{
    width: 100%;
    height: 40px;
    background-color: #0b0c10;
    color: white;
    margin: 0 auto;
}

.materofpuppet{
    background-image: url("../assets/imag1.webp");
    background-size: cover;
    background-position: center;
}

.qq{
    background-image: url('../assets/ab67616d0000b27313d4adf9e4b938f88266f4e4.jpg');
    background-size: cover;
    background-position: center;
}
.qw{
    background-image: url('../assets/Iron_man.webp');
    background-size: cover;
    background-position: center;
}
.qe{
    background-image: url('../assets/TheOffspringTKAA.jpg');
    background-size: cover;
    background-position: center;
}
.qr{
    background-image: url('../assets/Psycho_-_Muse.jpg');
    background-size: cover;
    background-position: center;
}

.appe{
    background-image: url("../assets/appetite-for-destruction.jpg");
    background-size: cover;
    background-position: center;
}
.th{
    background-image: url("../assets/ACDC_Back_in_Black_cover.svg");
    background-size: cover;
    background-position: center;
}
.ty{
    background-image: url("../assets/996ecc010fe1339b124880d0d62cdecb.png");
    background-size: cover;
    background-position: center;
}
.tu{
    background-image: url("../assets/74f14b5f01860558f4c6f69bdbb09795.400x399x1.jpg");
    background-size: cover;
    background-position: center;
}
.ti{
    background-image: url("../assets/Wolfmother_-__Joker_and_the_Thief_.png");
    background-size: cover;
    background-position: center;
}
.to{
    background-image: url("../assets/Hives_hate_to_say_i_told_you_so.png");
    background-size: cover;
    background-position: center;
}
.tp{
    background-image: url("../assets/ab67616d0000b2732a9e5743f2d7c93c43fee849.jpg");
    background-size: cover;
    background-position: center;
}

.location{
    width: 600px;
    height: 200px;
    background-color: black;
}

.player-line{
    width: 100%;
    height: 50px;
    margin-top: 100px;
}

.line{
    width: 100%;
    height: 5px;
    background-color: black;
}

.inner-line{
    height: 5px;
    width: 50%;
    background-color: crimson;

}

.marker{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: crimson;
    margin: 0 auto;
    margin-top: -12px;
    cursor: pointer;
}

nav input{
    font-family: 'Playfair Display', serif;
}

header h1{
    font-family: 'Montserrat', sans-serif;
}

header h3{
    font-family: 'Playfair Display', serif;
}

header h5{
    font-family: 'Playfair Display', serif;
}

header h2{
    font-family: 'Montserrat', sans-serif;
}

.youtube{
    background-image: url("../assets/youtube_icon.svg");
    background-position: center;
    background-size: cover
}
.face{
    background-image: url("../assets/facebook_icon.svg");
    background-position: center;
    background-size: cover;
}
.twit{
    background-image: url("../assets/twitter_icon.svg");
    background-position: center;
    background-size: cover;
}
.insta{
    background-image: url("../assets/instagram_icon.svg");
    background-position: center;
    background-size: cover;
}

.artistimage{
    width: 80px;
    height: 80px;
    background-image: url('../assets/EjsjsF7VkAILqWf.jpg_large');
    background-position: center;
    background-size: cover;
}

.acdc{
    padding-left: 85px;
    padding-bottom: 50px;
    margin-top: -70px;
}

.navgroup{

}

.rewind{
    width: 50px;
    height: 50px;
    background-image: url('../assets/previous_icon.svg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 380px;
    margin-top: -105px;
}

.pause{
    width: 80px;
    height: 80px;
    background-image: url('../assets/pause_icon.svg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 460px;
    margin-top: -70px;
}

.forward{
    width: 50px;
    height: 50px;
    background-image: url('../assets/next_icon.svg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 580px;
    margin-top: -64px;
}

.number{
    padding-left: 900px;
    margin-top: -30px;
}

.dot{
    width: 30px;
    height: 30px;
    background-image: url('../assets/options_media_icon.svg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 950px;
    margin-top: -28px;
    cursor: pointer;
}